{% extends "layout.html.twig" %}

{% block main %}
<h1>Ecrire une critique</h1>
<form>
    <label for="note">Note</label>
    <select id="note" name="note">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <label for="title">Titre</label>
    <input type="text" id="title" name="title">
    <label for="content">Contenu</label>
    <textarea id="content" name="content"></textarea>
</form>
{% endblock %}