{% extends "layout.html.twig" %}

{% block main %}
<h1>Bienvenue sur le site !</h1>
<section class="critic-list">
    <h2>Découvrez les dernières critiques</h2>
    {% for critic in critics %}           
    <article>
        <a href="?page=movie&id={{ critic['movie_id'] }}">
            <img class="critic-movie-poster" alt="movie poster" src="assets/img/{{ critic['movie_picture'] }}" data-filmid="{{ critic['movie_id'] }}">
        </a>
        <p class="critic-note"><strong>{{ critic['critic'].note }}</strong></p>
        <div class="critic-container">
            <h3>{{ critic['critic'].title }}</h3>
            <p class="critic-content">{{ critic['critic'].content }}</p>
            <p class="critic-author">Écrit par <a href="?page=user&id={{ critic['user_id'] }}">{{ critic['user'] }}</a></p>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}