<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/script.js"></script>
    <script src="assets/js/functions.js"></script>
    <title>Critic'Movies - {{ title }}</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header-container">
            <a href="index.php">
                <img class="header-logo" src="img/logo.PNG" alt="logo">
            </a>
            <ul>
                {% if session %}
                    <li><a href="?page=user&id={{ session.user_id }}">Mon profil</a></li>
                    <li><a href="?page=disconnect">Se déconnecter</a></li>
                {% endif %}
                {% if not session %}
                    <li id="connect"><a href="?page=login">Se connecter</a></li>
                    <li><a href="?page=register">S'inscrire</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="header-separator"></div>
    </header>

    <!-- MAIN -->
    <main>
        <div class="main-container">
    {% block main %}
    {% endblock %}
       </div>
    </main>
   <!-- FOOTER -->
    <footer>
        <p><small>© 2020 Critic'Movies</small></p>
    </footer>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>