{% extends "layout.html.twig" %}

{% block main %}
<h1>Se connecter</h1>
<form method="post">
    <label for="mail">E-mail</label>
    <input type="email" id="mail" name="mail">
    <label for="password">Mot de passe</label>
    <input type="text" id="password" name="password">
    <input type="submit" value="Valider">
</form>
{% endblock %}