{% extends "layout.html.twig" %}

{% block main %}
<section class="movie-description">
    <img class="movie-poster" src="assets/img/big_{{ movie.picture }}" alt="{{ movie.title }}movie poster">
    <div class="movie-info-container">
        <h1>{{ movie.title }}</h1>
        <p>{{ movie.director }}</p>
        <p>{{ movie.createdAt|date("d/m/Y") }}</p>
        <p class="movie-note">Note moyenne : {{ average }}</p>
    </div>
</section>
{% if session %}
    <form method="post" action="?page=critic_add">
        <input type="submit" class="add-critic" value="Ajouter une critique">
    </form>
{% endif %}           
<section class="critic-list">
    <h2>Les dernières critiques</h2>
    {% for critic in critics %}
    <article>
        <p class="critic-note"><strong>{{ critic['critic'].note }}</strong></p>
        <div class="critic-container">
            <h3>{{ critic['critic'].title }}</h3>
            <p class="critic-content">{{ critic['critic'].content }}</p>
            <p class="critic-author">Écrit par <a href="?page=user&id={{ critic['user_id'] }}">{{ critic['author'] }}</a></p>
        </div>
    </article>
    {% endfor %}
</section>            
{% endblock %}