{% extends "layout.html.twig" %}

{% block main %}
<h1>Se connecter</h1>
<form method="post">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" id="username" name="username">
    <label for="mail">E-mail</label>
    <input type="email" id="mail" name="mail">
    <label for="password1">Mot de passe</label>
    <input type="text" id="password1" name="password1">
    <label for="password2">Validez votre mot de passe</label>
    <input type="text" id="password2" name="password2">
    <input type="submit" value="Valider">
</form>
{% endblock %}