{% extends "layout.html.twig" %}

{% block main %}
    <section class="user-description">
        <img class="user-picture" src="https://via.placeholder.com/150.png" alt="{{ user.username }} profile picture">
        <div class="user-info">
            <h1>{{ user.username }}</h1>
            <p>{{ numberCritics }} critiques</p>
            <button class="follow">Suivre</button>
        </div>
    </section>
                
    <section class="critic-list">
        <h2>Ses dernières critiques</h2>
        {% if not critics %}
            <p>Cet utilisateur n'a pas encore écrit de critique.</p>
        {% else %}
        {% for critic in critics %}
            <article>
                <a href="?page=movie&id={{ critic['movie_id'] }}">
                    <img class="critic-movie-poster" alt="movie poster" src="assets/img/{{ critic['movie_picture'] }}">
                </a>
                <p class="critic-note"><strong>{{ critic['critic'].note }}</strong></p>
                <div class="critic-container">
                    <h3>{{ critic['critic'].title }}</h3>
                    <p>{{ critic['critic'].content }}</p>
                </div>
            </article>
        {% endfor %}
        {% endif %}
    </section>
{% endblock %}