@import "../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* VARIABLES */
$text-font : 'Roboto', sans-serif;
$title-font : 'Lato', sans-serif;
$primary-color : #16222A;
$secundary-color : #3A6073;
$tertiary-color: #f5f5f5;

/* BASIS */
* {
    box-sizing: border-box;
}
  
html {
    font-size: 62,5%;
}
  
img {
    max-width: 100%;
}

/* -- MOBILE -- */

/* HEADER */
header {
    .header-container {
        z-index: 3;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 65px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            li {
                margin-left: 20px;
                a {
                    color: #000;
                    text-decoration: none;
                    font-family: $text-font;
                }
            }
            li:first-child{
                margin: 0;
            }
        }
    }
    .header-separator {
        height: 30px;
        background: linear-gradient(133deg, $primary-color 0%, $secundary-color 78%);
    }
}

/* MAIN */
main {
    background: $tertiary-color;
    p {
        font-family: $text-font;
    }
    h1, h2, h3 {
        font-family: $title-font;
    }
    .main-container {
        padding: 40px 20px;
        max-width: 1500px;
        margin: 0 auto;
        background: #fff;
        section.movie-description {
            text-align: center;
            h1 {
                font-size: 2.4rem;
            }
            p {
                font-size: 1.5rem;
            }
            p.movie-note {
                padding: 5px;
                background: rgb(22,34,42);
                background: linear-gradient(133deg, $primary-color 0%, $secundary-color 78%);
                border-radius: 20px;
                color: #fff;
            }
        }
        .add-critic {
            display: block;
            margin: 0 auto;
            font-family: $title-font;
            font-size: 1.7rem;
            padding: 10px 30px;
            background: #fff;
            transition: 0.2s;
        }
        .add-critic:hover {
            color: #fff;
            background: $secundary-color;
        }
        section.critic-list {
            text-align: center;
            h2 {
                font-size: 1.8rem;
                text-decoration: underline;
            }
            article {
                background: $tertiary-color;
                padding: 30px 20px;
                margin: 10px 0;
                p.critic-note {
                    color: #fff;
                    background: $secundary-color;
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 0 auto;
                    height: 55px;
                    width: 55px;
                    border-radius: 30px;
                    padding-top: 13px;
                }
                p.critic-content {
                    text-align: left;
                }
                p.critic-author a {
                    text-decoration: none;
                    color: #000;
                    font-weight: bold;
                }
            }
        }
        section.user-description {
            text-align: center;
            padding-bottom: 40px;
            border-bottom: solid 1px rgba(#000,0.44);
            img.user-picture {
                border-radius: 10px;
                display: block;
                width: 150px;
                margin: 0 auto;
            }
            p {
                font-size: 1.2rem;
            }
            button.follow {
                font-size: 1.2rem;
                font-family: $text-font;
                background: #fff;
                padding: 5px 40px;
                border: solid 1px #000;
                border-radius: 25px;
                box-shadow: 11px 10px 17px -10px rgba(0,0,0,0.44);
                transition: 0.2s;
            }
            button.follow:hover {
                color: #fff;
                background: $secundary-color;
            }
        }
        section.critic-list {
            article {
                .critic-movie-poster {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/* FOOTER */
footer {
    background: rgb(22,34,42);
    background: linear-gradient(133deg, $primary-color 0%, $secundary-color 78%);
    margin: 0;
    padding: 50px;
    text-align: center;
    color: $tertiary-color;
    font-family: $text-font;
}

/* -- TABLETTE -- */
@media screen and (min-width: 768px) {
    /* MAIN */
    main .main-container {
        padding: 80px;
        section.movie-description {
            margin: 0 auto;
            .movie-poster {
                display: inline-block;
                margin-right: 25px;
            }
            .movie-info-container {
                margin-left: 25px;
                display: inline-block;
                text-align: left;
                p.movie-note {
                    padding: 5px 50px;
                }
            }
        }
        button.add-critic {
            margin: 50px auto;
        }
        section.critic-list {
            article {
                text-align: left;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .critic-container {
                    width: 80%;
                }
            }
        }
        section.user-description {
            display: flex;
            justify-content: center;
            img.user-picture {
                margin: 0 5% 0 0;
            }
            .user-info {
                margin-left: 5%;
            }
        }
        section.critic-list {
            article p.critic-note {
                margin: 0 20px;
            }
        }
    }
}

/* -- DESKTOP -- */
@media screen and (min-width: 992px) {
    /* MAIN */
    main .main-container section.critic-list h2 {
        text-align: left;
    }
}